.contact-container {
    background-color: rgba(253, 251, 251, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    backdrop-filter: blur(10px);
}

.contact-container h2 {
    margin-bottom: 20px;
    color: #f7f7f7;
    text-align: center;
}

.contact-container label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff; 
}

.contact-container input[type="text"]:focus,
.contact-container input[type="email"]:focus,
.contact-container textarea:focus {
    border-color: #e8491d;
    outline: none;
    box-shadow: 0 0 10px rgba(250, 249, 249, 0.5);
}

.contact-container textarea {
    min-height: 100px;
    resize: vertical;
    color: #ffffff; 
}

.contact-container button {
    background: linear-gradient(45deg, #35424a, #e8491d);
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.6s ease, transform 0.6s ease;
}

.contact-container button:hover {
    background: linear-gradient(45deg, #fafafa, #35424a);
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
